body{
    margin: 0;
    font-family: OpenSans, serif;
    width: 100vw;
    overflow-x: hidden;
    text-align: justify;
}
.navContainer{
    position: sticky;
    background: #ffffff;
    top: 0;
    display: flex;
    padding: 1% 3% 1.5%;
    font-size: 1.1em;
    align-items: baseline;
    width: 100vw;
    font-family: OpenSans;
    z-index: 10000000;
}

.logo{
    margin-right: auto;
    font-family: Pacifico, serif;
    font-size: 1.5em;
    /* padding: 0% 0 5%; */
}

.navElements{
    padding: 0 2%;
    cursor: pointer;
    transition: 0.1s;
}

.navElements:hover{
    transform: scale(1.1);
}

.selected{
    font-family: 'OpenSans-Bold', serif;
}

.contactElement{
    margin-left: auto;
}

.ham {
    cursor: pointer;
    width: 30px;
    /* margin: 2vh 1vw; */
    display: none;
    /* transform: translateY(-100px); */
    position: absolute;
    right: 5%;
    /* transform: translateY(-125%); */
    top: 3%;
}

.ham-line {
    width: 100%;
    height: 4px;
    background-color: black;
    margin: 2px 0;
    transition: 0.3s;
    border-radius: 2px;
}
.ham-line:nth-of-type(2) {
    position: relative;
    left: -10%;
}

@media all and (max-width: 600px){
    .navContainer{
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
        padding: 10.8px 10.8px 10.8px 18px;
        transition: 1s;
        height: 60px;
    }
    .navElements{
        padding: 9.925px;
        margin: 0;
        opacity: 0;
    }
    .ham{
        display: block;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .logo{
        padding-bottom: 13.2375px;
    }
}
