.header {
    background-image: url("../assets/img/researchBack.jpg");
    height: 44vh;
    background-size: contain;
    background-color: #9e9e9e;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
    font-family: 'Poppins-Bold', serif;
    font-size: 4em;
    background-attachment: fixed;
}


.researchContainer {
    display: flex;
    padding: 2% 0;
    align-items: center;
}

.researchWrapper {
    width: 100vw;
    padding: 2% 7% 5%;
    box-sizing: border-box;
}

.researchContainer img {
    width: 100%;
    /* height: 100%; */
    transition: 0.2s;
}

.researchContainer img:hover {
    transform: scale(1.3);
}

.researchImageContainer {
    display: flex;
    height: 46vh;
    border-radius: 6px;
    width: 30vw;
    align-items: center;
    overflow: hidden;
}

.researchText {
    width: 56%;
    padding: 0 0 0 8%;
    line-height: 2;
    font-size: 1.2em;
    font-family: 'Poppins';
    color: #616161;
    font-size: 1em;
}

.researchText h3 {
    font-family: 'Poppins-Bold';
    font-size: 1.6em;
    margin-block-start: 9px;
    margin-block-end: 0.8em;
    color: #212121;
}

@media all and (max-width: 600px) {
    .researchContainer {
        width: 100%;
        flex-wrap: wrap;
    }

    .researchWrapper {
    }

    .researchContainer img {
    }

    .researchContainer img:hover {
    }

    .researchImageContainer {
        width: 100%;
        height: 30vh;
        margin: 0 0 2%;
    }

    .researchText {
        padding: 0;
        width: 100%;
        font-size: 1em;
    }

    .researchText h3 {
        padding: 4% 0;
        margin-block-end: 0;
    }
}
